/*  zKunenaLatest */
#zKlatest {
}
#Kboxwrap {
}
.Kboxwrap {
}

.zKlatestHeader {
	text-align: center;
}
/* width of this item is reset at run-time based on settings */
.Kboxgrid .zKlatestAvatar_left {
	float: left;
	height: 40px;
	padding: 4px;
}
/* Border around the avatars */
.Kboxgrid .zKlatestAvatar_left img, .topKboxcaption .zKlatestAvatar_left img {
	padding: 1px;
	border: 1px solid #000;
	margin: 1px;
}

.zKlatestAvatar {
}
/* Main Content DIVs */
.Kboxgrid .zKlatestAuthor, .Kboxgrid .zKlatestSubject, .Kboxgrid .zKlatestDatetime {
	padding-left: 6px;
}
/* -- New messages */
.Kboxgrid .zKlatestUnread {
	font-size: 0.8em;
	color: #060;
}

#zKlatest .Kboxgridwrap {
	width: 100%;
}
.Kboxgridwrap .Kboxgrid {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}
.Kboxgridwrap .Kboxgrid img {
	/*
	position: absolute;
	top: 1px;
	left: 1px;
	*/
}
/* Bottom Slider */
.Kboxgridwrap .Kboxgrid .Kboxcaption {
	float: left;
	position: absolute;
	width: 100%;
	/* This stuff looks nice, but does not validate */
	/*opacity: .8;/*
	/* For IE 5-7 */
	/*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); */
	/* For IE 8 */
	/*-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; */
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	top: 100px;
	line-height: 1;
}
/* Message body*/
.zKlatestMessage {
}
/* Tags for text removed from message*/
.zKlatestMessage span {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #CCC;
	background-color: #333;
	padding-right: 1px;
	padding-left: 1px;
}
/* Top Slider */
.Kboxgridwrap .Kboxgrid .topKboxcaption {
	float: left;
	position: absolute;
	width: 100%;
	/* This stuff looks nice, but does not validate */
	/*opacity: 0;*/
	/* For IE 5-7 */
	/*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
	/* For IE 8 */
	/*-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
	padding: 5px;
	left: 0;
	bottom: 160px;
}
.topKboxcaption .zKlatestAuthorInfo {
	margin-left: 45px;
	padding-left: 45px;
}
.topKboxcaption .ranking {
	margin-left: 45px;
}

/* Link Area in the Bottom Slider */
.Kboxgridwrap .Kboxgrid .Kboxcaption .Kboxbottom {
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: #FFF;
	padding: 4px;
	font-size: .9em;
}
.Kboxgridwrap .Kboxgrid .Kboxcaption .Kboxbottomleft {
	float: left;
	width: 45%;
	padding-left: 5px;
}
.Kboxgridwrap .Kboxgrid .Kboxcaption .Kboxbottomright {
	float: right;
	width: 45%;
	text-align: right;
	padding-right: 5px;
}
.zKlatestMessage {
	line-height: 1.1;
	display: block;
	margin-top: 3px;
	font-size: .97em;
	text-align: justify;
}
/* Use these to Style the Links */
.Kboxgrid .zKlatestAuthor a , .Kboxgrid .zKlatestSubject a {
}
.Kboxgrid .zKlatestAuthor a:visited , .Kboxgrid .zKlatestSubject a:visited  {
}
.Kboxgrid .zKlatestAuthor a:hover , .Kboxgrid .zKlatestSubject a:hover {
}
/* Slider Subject*/
.Kboxgridwrap .Kboxgrid .Kboxcaption a {
}
.Kboxgridwrap .Kboxgrid .Kboxcaption a:visited {
}
.Kboxgridwrap .Kboxgrid .Kboxcaption a:hover {
}
/* NAV Bar links*/
.Kboxbottomleft a .Kboxbottomright a {
	
}