/* horizontal */

.horizontal ul {
  list-style-type: none;
}

.horizontal ul li {
  margin: 10px 0 10px 0px;
  padding: 10px 0 10px 0px;
  float: left;
  display: inline; 
}

.horizontal ul .border {
  margin-left:5px;
  padding-left:3px;
  border-left:1px solid #E1E1E1;
}

.description table { font-size:12px;}
.description table tr td{ vertical-align:top;}
.description table tr td img{ border:1px solid #ccc;}
.horizontal ul li {width: 49%;}

/* vertical */

.vertical ul{
  list-style: none;
  margin: 0px;
  padding:0px;
 
}

.vertical ul li .ebaylist{
  border: none;
  width: 97%;
  margin: 0 0 5px 0;
  padding:0 0 5px 0px;
  float: left;  border-bottom: 1px solid #000;
}

.vertical ul li .ebaylist_myebay{ display: block; border-bottom: 1px solid #E1E1E1; float: left; width: 99%}
.vertical ul li .ebaylist_myebay a{text-decoration: none}
.ebaytitle_myebay {
  font-size:15px;
  font-weight:normal;
  text-align: left;
  margin: 0px;
  padding: 0 0 15px 3px;
}

.ebaytitleSmall_myebay {
  display: block;
  float: left;
  font-weight:normal;
  width: 70%;
  font-size:90%;
  margin-right:5px;
 
}

.price{ text-align:right; font-size:80%}

.description {text-align: left;}

.ebayseparator {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 0px;
  width: 97%;
 }